*{
    font-family: 'Open Sans', sans-serif;
}
.bg-grey{
    background: #F4F4F4;
}
.menu-title{
    font-size: 14px;
    font-weight: bold;
}
.logo-mobile{
    margin-left: -15px;
    width: 80%;
}
.carousel-inner img {
    margin: auto;
}

.facebook-color{
    color: #036EE4 !important;
}
.twitter-color{
    color: #1DA1F2 !important;
}
.ig-color{
    color: #D8505C !important;
}

.gallery:hover{
    box-shadow: 0px 3px #036EE4;
}
.opcacity-4{
    opacity: .4;
}